<div class="box-it">
  <h2> Toggle button example </h2>
  <mat-slide-toggle>Toggle Me!</mat-slide-toggle>
</div>
<br>
<br>
<div class="box-it">
  <h2>Address Form Schematic Test Example</h2>
  <app-test-address-form></app-test-address-form>
</div>
<br>
<br>
<div class="box-it">
  <h2>Navigation Schematic Test Example</h2>
  <app-test-navigation></app-test-navigation>
</div>
<br>
<br>
<div class="box-it">
  <h2>Table Schematic Test Example</h2>
  <app-test-table></app-test-table>
</div>
<br>
<br>
<div class="box-it">
  <h2>Tree Schematic Test Example</h2>
  <app-test-tree></app-test-tree>
</div>
<br>
<br>
<div class="box-it">
  <h2>Drag and Drop Schematic Test Example</h2>
  <app-test-drag-and-drop></app-test-drag-and-drop>
</div>